@import '../variables.scss';

.about-page {
    display: flex;
    flex-grow: 1;
    color: white;
    border: 2px solid #775c31;
    padding: 10px;

    background-repeat: no-repeat;
    background-image: url('../assets/images/wall.jpg');
    background-origin: border-box;

    @media (orientation: portrait) {
        background-position: right -450px center;
    }
    @media (orientation: landscape) {
        background-position: right -300px center;
    }

    .about-block {
        display: flex;
        flex-direction: column;

        @media (orientation: portrait) {
            width: auto;
            background-color: rgba(27, 27, 27, 0.5)
        }
        @media (orientation: landscape) {
            width: calc(100% - 550px);
        }

        .about-text {
            text-align: justify;
            overflow: auto;
            color: lightgray;

            .common {
                color: $commonRarity;
            }
            .rare {
                color: $rareRarity;
            }
            .unique {
                color: $uniqueRarity;
            }
        }
    }
}